*{
    margin: 0;
    padding: 0;
    list-style: none;
}
            /* BODY */
body{
    background-color: #fedede;
    height: 100%; 
    min-width: 360px;
}

.fundo{
    background-color: rgb(255, 255, 255);
    margin: 1.5em;  
    /* width: 95%;
    height: 96%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
}

            /* HEADER */
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-content: center;

    /* align-items:flex-start; */
    
}
nav{
    width: 46%;
    font-family:Questrial;
    padding: 1em;
}
nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}
nav li{
    /* margin: 0 0 0 1.5em; */
    /* padding: 1em; */
}
h1{
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 4em;
    width: 50%;
    white-space: nowrap;
    text-align: center;
    /* padding: 0.5em; */
}

h2, h3{
    font-family: 'Cormorant Garamond';
    color: rgb(26, 33, 14);
}

a{
    text-decoration: none;
    color: rgb(26, 33, 14);
}
            /* INDEX */

#mainIndex{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;   
    justify-content: center;  
    align-items:end;
}
#esquerdaIndex{
    /* background-color: rgb(216, 204, 173); */
    width: 48%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em ;
    margin-left: 1em;

}
#h2Index{
    background-color:rgba(210, 210, 210, 0.6);
    white-space: nowrap;
    text-align: center;
    font-size: 1.8em;
    position: absolute;
    margin-block-start: -3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#mainIndex h3{
    white-space: nowrap;
    background-color:rgba(210, 210, 210, 0.6);
    text-align: center
}

#imagensIndex{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.imagens-soltas img {
    width: 46%; /* Cada imagem ocupará 50% da largura */
    padding: 2%;
    aspect-ratio: 1 / 0.6;
}

#imagemDivulgacao{
    width: 45%;
    height: auto;
    padding: 1em;
    padding-top: 0;
}



        /* SOBRE*/


#mainSobre{
      /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    justify-content: space-between;  
    align-items:end;
    }

#boxCimaSobre{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;   
    justify-content: center;  
    align-items:center;
}
#esquerdaSobre{
    width: 48%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em ;
    margin-left: 1em;
}
#imagemDivulgacaoSobre{
    width: 45%;
    height: auto;
    padding: 1em;
    padding-top: 0;

}

#boxSobre{
    padding: 0.5em;
    background-color:rgba(210, 210, 210, 0.6);
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    justify-content: space-between;  
    /* align-items:center; */
    aspect-ratio: 1/1;
}
#imagensSobre{
    background-color:rgba(222, 20, 20, 0.6);
    width: 55%;


}
#imagensSobre img{
    width: 100%;
    background-color: blueviolet;
    aspect-ratio: 1 / 1.4;
}
#boxBaixoSobre{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    justify-content: center;  
    align-items:center;

}

#boxUltimosTrabalhos{
    padding: 0.5em;
    height: 500px;
    width: 70%;
    background-color:rgba(210, 210, 210, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#imagensUltimosTrabalhos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
    position: absolute;
}
#imagensUltimosTrabalhos img{
    background-color: blueviolet;
    margin: 0.3em;
    aspect-ratio: 1 / 1;

}
#inicioSobre{
/* alinhar "botao" a esquerda */
}


        /* TRABALHOS */

#mainTrabalhos{
   /* background-color: aquamarine; */
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

}
#boxTrabalhos{
    /* caixa cinza */

}
#mainTrabalhos h2{
margin: 1em;
}
#imagensTrabalhos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}
#imagensTrabalhos img {
    background-color: blueviolet;
    width: 27%;
    margin: 0.5em;
    aspect-ratio: 1 / 1;
}

#inicioTrabalhos{
    margin: 1em;
}


        /* PROCESSOS */

#mainProcessos{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    justify-content: space-between;  
    align-items:center;
    align-content: center;
}
#mainProcessos h2{
    margin: 1em;
    font-size: xx-large;
    font-family: 'Cormorant Garamond';
}
#mainProcessos h3{
    margin-bottom: 0.5em;
    font-size: xx-large;
    font-family: 'Cormorant Garamond';
}
.processos{
    background-color: rgba(210, 210, 210, 0.6);
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    margin-top: 3em;
    margin-bottom: 1em; 
}
.box-processos{
    width: 50%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}
.box-processos p{
    width: 80%;
    text-wrap: wrap;
}
.imagens-processos{
    background-color: rgb(228, 203, 171);
    width: 45%;
    height: 100%;
}
.imagens-processos img{
    background-color: blueviolet;
    width: 90%;
    margin: 1em;
    aspect-ratio: 1/0.8;  
}

            /* CONTATO */

#mainContato{
    width: 720px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('imagens/2.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
}

form{

}
#boxContato {
    text-align: center; /* Centraliza o conteúdo da div */
  }
  
  form {
    display: inline-block; /* Permite centralizar o formulário dentro da div */
    background-color: #f2f2f2; /* Adiciona um fundo para melhor visualização */
    padding: 20px; /* Adiciona um espaço interno */
    border-radius: 5px; /* Arredonda as bordas */
  }
  
  label {
    display: block; /* Faz com que cada label ocupe uma linha */
    margin-bottom: 10px; /* Adiciona espaço entre a label e o input */
  }
  
  input {
    width: 300px; /* Define a largura dos inputs */
    padding: 10px; /* Adiciona um espaço interno */
    margin-bottom: 10px; /* Adiciona espaço entre os inputs */
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 3px; /* Arredonda as bordas */
  }
  
  /* Placeholder para o input */
  input::-webkit-input-placeholder {
    text-align: center;
  }
  
  input:-moz-placeholder {
    text-align: center;
  }
  
  input::-moz-placeholder {
    text-align: center;
  }
  
  input:-ms-input-placeholder {
    text-align: center;   
  }
  #mensagem {
    height: 100px; /* Ajuste este valor conforme necessário */
  }
  
  footer{
    background-color: rosybrown;
    text-align: center;
  }