*{
    margin: 0;
    padding: 0;
    list-style: none;

}

body{
    border: 1px, black, solid;
    background-color: #FEEFEF;
    height: 100%;
 
}

h1{
    font-family: 'Qwitcher Grypen', sans-serif ;
    font-size: 50pt;
}
h2{ 
    min-width: 60%;
    max-width: 60%;
    position: absolute;
    white-space: nowrap;
    font-size: 62px;
    text-align: left;
    margin-top: 9%;

    background-color:rgba(236, 236, 236, 0.6);
}
h3{
    /* position: absolute; */
    min-width: 60%;
    position: absolute;
    white-space: nowrap;
    font-size: 25px;
    text-align: left;
    margin-top: 18%;
}
h1, h2, h3{
    padding: 0.4em;
    border: 1px, rgb(246, 109, 109), dotted;
    /* margin: 1em; */
}
header{
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed; */
    border: 1px, rgb(12, 15, 1), solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:top ;

}

main{
    display: flex;
    justify-content: center;
    flex-wrap:wrap-reverse;   

}

#imgIndex{
    width: 50%;
    height: auto;
    padding: 1em ;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: ;
    align-content: flex-end;
    
    
}

.imagens-soltas {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    /* margin-bottom: 1em; */
}

.imagens-soltas img {
    width: 46%; /* Cada imagem ocupará 50% da largura */
    padding: 2%;
    aspect-ratio: 1 / 0.6;
}
#imagemDivulgacao{
width: 50%;
height: auto;
padding: 1em ;
}
.menu-principal{
    
    border: 1px, black, dotted;
    
}
.fundo{
    background-color: rgb(255, 255, 255);
    margin: 1.5em;
    /* padding: 1.5em; */
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    
    width: 95%;
    height: 96%;
}
.boxCinza {
    border: 1px, black, dotted;
    background: rgb(200, 200, 200);
    

    /* position: absolute; */
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    margin: 0 0 0 1.5em;
    padding: 1em;
}

#boxContato{
    padding: 3em;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
