*{
    margin: 0;
    padding: 0;
    list-style: none;
}
            /* BODY */
body{
    background-color: #fedede;
    /* height: 1340px; */
    width: 100VW; 
    position: relative;
    
}

.box-marrom{
    width: 100vw;
    height: 200px;
    min-width: 1045px;
    background-color: #7C4425;
    position: absolute;
    top: -25px;
}
.fundo{
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 1.5em;  
    /* width: 95%;
    height: 96%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
    min-width: 1045px;

}

            /* HEADER */
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 1em;

    
}
nav{
    font-family:Questrial;
    padding: 1em;
    width: 1080px;
}
nav ul{
    padding-right: 3em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}
nav li{
    margin: 1em 0 0 0.5em;
    font-size: 30px;
}
h1{
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 120px;
    width: max-content;
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
}

h2, h3{
    font-family: 'Cormorant Garamond';
    color: rgb(26, 33, 14);
}

a{
    text-decoration: none;
    color: rgb(26, 33, 14);
}
p{
    font-family:Questrial;
}
            /* INDEX */

#mainIndex{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items:end;
}
#esquerdaIndex{
    /* background-color: rgb(216, 204, 173); */
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em ;
    margin-left: 1em;

}
#h2Index{
    background-color:rgba(210, 210, 210, 0.6);
    position: absolute;
    width: 1010px;
    /* height: 110px; */
    top: 320px;
}
#h2Index h2{
    font-size: 75px;
    white-space: nowrap;
    text-align: center;


}
#espacovazioIndex{
    width: 18%;


}
#mainIndex h3{
    white-space: wrap;
    /* background-color:rgba(210, 210, 210, 0.6); */
    text-align: center;
    margin-bottom: 0;
    font-size: 30px;
    padding-left: 0.5em;
}

#imagensIndex{
    display: flex;
    flex-wrap: wrap;

}

#verMaisIndex{
    padding-left: 1em;
    font-size: 22px;
    color: #931c02;
    font-weight: bold;
    font-style: italic;
}

.imagens-soltas img {
    width: 46%; /* Cada imagem ocupará 46% da largura */
    padding: 5px;
    aspect-ratio: 1 / 1;
}

#imagemDivulgacao{
    width: 55%;
    height: auto;
    padding: 1em;
    padding-top: 0;
}



        /* SOBRE*/


#mainSobre{
      /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    justify-content: space-between;  
    align-items:end;
    position: relative;
    }

#boxCimaSobre{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#esquerdaSobre{
    background-color: rgba(210, 210, 210, 0.6);
    width: 30%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3em;
    margin-left: 3em;
    margin-right: 5em;
}
#h2-pSobre{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#esquerdaSobre h2{
    font-size: 70px;

}
#esquerdaSobre p{
    font-size: 22px;
    margin-top: 1em;
}
#lerMaisSobre{
    font-size: 22px;
    color: #931c02;
    font-weight: bold; 
    font-style: italic;
}

#imagemDivulgacaoSobre{
    /* width: 55%; */
    padding: 1em;
    padding-top: 0;
    margin-right: 1.5em;
    position: relative;

}
#imagemDivulgacaoSobre img{
    height: auto;
    padding: 1em;
    padding-top: 0;
}

#detalheSobre{
    position: absolute;
    top: -35px;
    left: -70px;

}


#boxSobre{
    padding: 0.5em;
    background-color:rgba(210, 210, 210, 0.6);
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    justify-content: space-between;  
    aspect-ratio: 1/1;
}
#imagensSobre{
    background-color:rgba(222, 20, 20, 0.6);
    width: 55%;

}
#imagensSobre img{
    width: 100%;
    background-color: blueviolet;
    aspect-ratio: 1 / 1.4;
}

#boxBaixoSobre{
    margin-top: 2em;
    margin-bottom: 5em;
    width: 100%;
    overflow: hidden;
}
#boxUltimosTrabalhos{
    padding: 0.5em;
    height: 900px;
    width: 70%;
    background-color:rgba(210, 210, 210, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#boxUltimosTrabalhos h2{
    font-size: 60px;
}

#boxImagensUltimosTrabalhos{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    justify-content: center;  
    align-items:center;
}

.imagens-ultimos-trabalhos{
    width: 33%;
    border-color: violet;
    border-style: dashed;
    aspect-ratio: 1 / 1;
    max-width: 635px;
    min-width: 335px;
}

#imagensUltimosTrabalhos{
    display: flex;
    width: 100%;
    padding: 2%;
    position: absolute;
    top: 150px;
    /* para responsividade */
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */


}
#imagensUltimosTrabalhos img{
    background-color: blueviolet;
    margin: 0.3em;

}

#vertodosSobre{
    font-size: 22px;
    color: #931c02; 
    font-weight: bold;
    font-style: italic;
    
}
#inicioSobre{
    position: absolute;
    bottom: 1em;
    left: 1.5em;
    margin-top: 2em;
    font-size: 18px;
    color: #931c02; 
    font-weight: bold;
    font-style: italic;
}

        /* TRABALHOS */

#mainTrabalhos{
   /* background-color: aquamarine; */
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

}
#boxTrabalhos{
    /* caixa cinza */

}
#mainTrabalhos h2{
margin: 1em;
font-size: 70px;
}
#imagensTrabalhos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}
#imagensTrabalhos img {
    /* background-color: blueviolet; */
    width: 27%;
    margin: 0.5em;
    aspect-ratio: 1 / 1;
}

#inicioTrabalhos{
    margin: 1em;
    margin-top: 2em;
    font-size: 18px;
    color: #931c02; 
    font-weight: bold;
    font-style: italic;
}


        /* PROCESSOS */


#mainProcessos{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    justify-content: space-between;  
    align-items:center;
    align-content: center;
}
#mainProcessos h2{
    margin: 1em;
    font-size: 70px;
    font-family: 'Cormorant Garamond';
}
#mainProcessos h3{
    margin-bottom: 0.5em;
    font-size: 40px;
    font-family: 'Cormorant Garamond';
}
.processos{
    background-color: rgba(210, 210, 210, 0.6);
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    margin-top: 3em;
    margin-bottom: 1em; 
}
.box-processos{
    width: 50%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}
.box-processos p{
    width: 80%;
    text-wrap: wrap;
}
.imagens-processos{
    background-color: rgb(228, 203, 171);
    width: 45%;
    height: 100%;
}
.imagens-processos img{
    background-color: blueviolet;
    width: 70%;
    margin: 1em;
    aspect-ratio: 1/0.8;  
}
.processos p{
    font-size: 22px;
    margin-top: 1em;

}


            /* CONTATO */


#fundoContato{
    background-image: url('imagens/2.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    margin-bottom: 0;
}
#headerContato a, h1{
    color: rgba(210, 210, 210, 0.8);

}
#mainContato{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#boxContato {
    text-align: center; /* Centraliza o conteúdo da div */
    width: 100%;
}
  
  form {
    width: 60%;
    height: auto;
    display: inline-block; /* Permite centralizar o formulário dentro da div */
    background-color: rgba(210, 210, 210, 0.8); 
    padding: 2em;
    margin-bottom: 1em;

  }
  form h2{
    font-size: 50px;
    margin: 1em;
  }
  label {
    display: block;
    margin-bottom: 1em;
  }
  
  input {
    margin: 1em;
    width: 65%;  
    padding: 10px; 
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    background-color: #ededed

  }
  
  /* Placeholder para o input */
  input::-webkit-input-placeholder {
    font-family:Questrial;
    font-size: 20px;
    text-align: left;
    color: black;

  }
  #enviar{
    font-family: 'Cormorant Garamond';
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: #931c02; 
    width: auto;
    margin-bottom: 2em;
    background-color: transparent;
    border: none; 
    cursor: pointer;
  }
  #mensagem {
    height: 150px;
  }
  
  footer{
    padding: 2em;
    height: 200px;
    background-color: #7C4425;
    text-align: center;
  }
  footer p{
    color: rgba(210, 210, 210, 0.8);
    font-size: 22px;
    margin-top: 1em;
  }

  footer a{
    color: rgba(210, 210, 210, 0.8);
    font-size: 30px;
    margin-top: 1em;
    
  }